table { 
  border-collapse: collapse;
}

th { 
  padding: 0 0.5em;
  text-align: left;
}

tr.yellow th { 
  border-top: 1px solid #FB7A31;
  border-bottom: 1px solid #FB7A31;
  background: #FFC;
}

td { 
  border-bottom: 1px solid #CCC;
  padding: 0 0.5em;
}

td.adjacent { 
  border-left: 1px solid #CCC;
  text-align: center;
}
