{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% trans "MATASZ Presence" %}</title>

<link href="http://www.erepublik.com//css/global.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="http://www.erepublik.com//css/sIFR-screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="http://www.erepublik.com//css/sIFR-print.css" type="text/css" media="print" />
<script type="text/javascript" src="http://www.erepublik.com//js/global.js"></script>
<script type="text/javascript" src="http://www.erepublik.com//js/prototype.js"></script>
</head>

<body id="error">

<div id="container">
<div id="header">


</div>
<div id="content">

           <!-- Begin "404" Error-->
            
            <div id="toplineholder">
              <div class="err _404"></div>
              <div class="errtxt">

              <span class="title">Page not found <span class="gray">(404)</span></span>
                <p>The page you are looking for has not been found. However, if you believe that life isn't fair and the page should be at this address, you can 
                <strong><a class="smalldotted" href="/">try again</a></strong> 
                whenever you wish.</p>
<span class="vround-btn-start">
                <span class="vround-btn-end">
                <a class="vround-btn-core" href="/">Go to homepage</a>                </span>

                </span>
              </div>        
            </div>
            
            <!-- End "404" Error-->
            
 </div>

</div>
</body>
</html>
