{% load i18n %}

<table width="690" border="0" align="left" cellpadding="0" cellspacing="0" class="offers">
    <caption>{% trans "Sessions" %}</caption>
  <tr class="yellow"><th width="173">{% trans "User" %}</th><th width="173">{% trans "Login" %}</th><th width="173">{% trans "Logout" %}</th><th width="173">{% trans "Duration" %}</th></tr>
  {% for session in sessions %}
    <tr><td><a href="/user/{{ session.user }}">{{ session.user }}</a></td><td>{{ session.login|date:"Y.m.d. H:i" }}</td><td>{{ session.logout|date:"Y.m.d. H:i" }}</td><td>{{ session.duration }}</td></tr>
  {% endfor %}
</table>
<ul class="pager">
    {% if prev %}
    <li><a href="#" onClick="dload_sessions('{{ title }}', 1)" class="first" /></li>
    <li><a href="#" onClick="dload_sessions('{{ title }}', {{ prev}})" class="prev">{% trans "Prev" %}</a></li>
    {% endif %}
    {% for p in range %}
    <li><a href="#" onClick="dload_sessions('{{ title }}', {{ p }})" {% ifequal p from %}class="on"{% endifequal %}>{{ p }}</a></li>
    {% endfor %}
    {% if next %}
    <li><a href="#" onClick="dload_sessions('{{ title }}', {{ next }})" class="next">{% trans "Next" %}</a></li>
    <li><a href="#" onClick="dload_sessions('{{ title }}', {{ last }})" class="last" /></li>
    {% endif %}
</ul>
