{% load i18n %}
{% load exprtag %}
<table width="690" border="0" align="left" cellpadding="0" cellspacing="0" class="offers">
    <caption>{% trans "Sessions" %}</caption>
  <tr class="yellow"><th width="173">{% trans "User" %}</th><th width="173">{% trans "Login" %}</th><th width="173">{% trans "Logout" %}</th><th width="173">{% trans "Duration" %}</th></tr>
  {% for session in sessions %}
    <tr><td><a href="/user/{{ session.user }}">{{ session.user|title }}</a></td><td>{{ session.login|date:"Y.m.d. H:i" }}</td><td>{{ session.logout|date:"Y.m.d. H:i" }}</td><td>{{ session.duration }}</td></tr>
  {% endfor %}
</table>
{% expr session_per_page > 10 as what %}
{% if what %}
    <a href="javascript:decrease_page('session_per_page');dload_sessions('{{ title }}', {{ from }});"><img src="/images/parts/pager_arrow-small-up_active.gif" alt="more sessions" /></a>
{% else %}
    <img src="/images/parts/pager_arrow-small-up_inactive.gif" alt="more sessions" />
{% endif %}
{% expr session_per_page < 90 as what %}
{% if what %}
    <a href="javascript:increase_page('session_per_page');dload_sessions('{{ title }}', {{ from }});"><img src="/images/parts/pager_arrow-small-down_active.gif" alt="more sessions" /></a>
{% else %}
      <img src="/images/parts/pager_arrow-small-down_inactive.gif" alt="more sessions" />
{% endif %}
<ul class="pager">
    {% if prev %}
    <li><a href="#" onClick="dload_sessions('{{ title }}', 1)" class="first" /></li>
    <li><a href="#" onClick="dload_sessions('{{ title }}', {{ prev}})" class="prev">{% trans "Prev" %}</a></li>
    {% endif %}
    {% for p in range %}
    <li><a href="#" onClick="dload_sessions('{{ title }}', {{ p }})" {% ifequal p from %}class="on"{% endifequal %}>{{ p }}</a></li>
    {% endfor %}
    {% if next %}
    <li><a href="#" onClick="dload_sessions('{{ title }}', {{ next }})" class="next">{% trans "Next" %}</a></li>
    <li><a href="#" onClick="dload_sessions('{{ title }}', {{ last }})" class="last" /></li>
    {% endif %}
</ul>
