{% extends "base.html" %}

{% load i18n %}
{% load exprtag %}

{% block content %}
{% trans "Name" %}<input type="text" id="searchname" name="name" /><input type="button" value="{% trans "Search" %}" class="marketbtn" onclick="submit_hits_search()" />

<div id="hitstable">
{% include 'hitstable.html' %}
{% expr hits_per_page > 10 as what %}
{% if what %}
    <a href="javascript:decrease_page('hits_per_page');location.reload(true);"><img src="/images/parts/pager_arrow-small-up_active.gif" alt="more sessions" /></a>
{% else %}
    <img src="/images/parts/pager_arrow-small-up_inactive.gif" alt="more sessions" />
{% endif %}
{% expr hits_per_page < 90 as what %}
{% if what %}
    <a href="javascript:increase_page('hits_per_page');location.reload(true);"><img src="/images/parts/pager_arrow-small-down_active.gif" alt="more sessions" /></a>
{% else %}
      <img src="/images/parts/pager_arrow-small-down_inactive.gif" alt="more sessions" />
{% endif %}
<ul class="pager">
    {% if prev %}
    <li><a href="/hits" class="first" /></li>
    <li><a href="/hits/{{ prev }}" class="prev">{% trans "Prev" %}</a></li>
    {% endif %}
    {% for p in range %}
    <li><a href="/hits/{{ p }}" {% ifequal p from %}class="on"{% endifequal %}>{{ p }}</a></li>
    {% endfor %}
    {% if next %}
    <li><a href="/hits/{{ next }}" class="next">{% trans "Next" %}</a></li>
    <li><a href="/hits/{{ count }}" class="last" /></li>
    {% endif %}
</ul>
</div>
{% endblock %}
